.footer-img{width:40px; height: 40px;float: right;margin: 20px; border-radius: 6px; margin-top: 30px;}
.footer-img:hover{width:43px; height: 43px;float: right;margin: 20px; border-radius: 6px; margin-top: 30px;}
#footer{background-color:#5c5c5d; width: 100%;height: 330px; }
#donate{float: right; margin-right: -250px;background-color: white;text-decoration:none;padding-left: 20;padding-right: 20px;font-size: 26px; margin-top: 100px; border-radius: 15px}
#donate:hover {float: right; margin-right: -250px;background-color: floralwhite;text-decoration:none;padding-left: 22;padding-right: 22px;font-size: 26px; margin-top: 100px; border-radius: 15px; padding-top: 2px;padding-bottom: 2px}
#m{color: white;font-size: 3em;}
body{
    background-color: azure;
}
.nav{    
    text-decoration:none;
    background-color: darkslateblue;
    color:azure;
    font-size:25px;
    padding: 10px;
    margin:1px 1px 1px 1px;
} 
.nav:hover{
                background-color: #5c5c5d;
            }
.title{
    font-family:inherit;
    color: #5c5c5d;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 1px dodgerblue;
}
.text1{
    color: #5c5c5d;
    text-shadow: 4px 4px 2px dodgerblue;
    font-family: inherit;
    font-size: 40px;
    text-align: center
}
.text1:hover{
    color: white;
    font-size: 48px;
}
.text2{
    text-align: center
}

.text3{
    color: #5c5c5d;
    text-shadow: 4px 4px 2px dodgerblue;
    font-family: inherit;
    font-size: 40px;
    text-align: center;
}
.text3:hover{
    color: white;
    font-size: 48px;
}
.one{
    text-align: center
}
.col1{
    width: 33%;
    float:left;
    text-align: center;
}
.img{
    width:400px;
    height: 280px;
}

.faq{
    height: 1000px;
}

.inrow_2{
    height: 300px;
    text-align: center;
}
.inrow2:hover{
    background-color: darkgray;
    color:white;
}

.inrow2{
    height: 300px;
    width: 49.5%;
    float: left;
    border: 3px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 5px;
    
}

.inrow_3{
    height: 600px;
    text-align: center;
}
.inrow3:hover{
    background-color: darkgray;
    color:white;
}

.inrow3{
    margin-top: 20px;
    height: 600px;
    width: 32.5%;
    float: left;
    border: 3px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 5px;
}
.link{
    text-decoration: none;
    color: dodgerblue;
}
.link:hover{
    color:  azure;
    background-color: dodgerblue;
}
#margin{
    margin-top: 10px;
}
#pdf{
    width: 80%;
    height: 300px;
}
#table1{
    border: 3px dotted grey;
    border-collapse: collapse;
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
}
#imginguide{
    width:80%;
    height: 550px;
    text-align: center;
}
.top{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#bottom{
    margin-bottom: 10px;
}
#bottom2{
    display: table;
    margin-bottom: 10px;
    
}